<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>User View</h2>       
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>{{ID}}</td>
     </tr>
     <tr>
        <td>Firstname</td>
        <td>{{FIRSTNAME}}</td>
    </tr>
    <tr>
        <td>Lastname</td>
        <td>{{LASTNAME}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{GENDER}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{AGE}}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{STATE}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{CITY}}</td>
    </tr>
    <tr>
        <td>Phone ( Type )</td>
        <td>{{PHONE}} - ({{TYPE}})</td>
    </tr>
      </tr>
    </thead>
    <a href="/users">Back to list</a>
    <tbody>
    </tbody>
  </table>
</div>

</body>
</html>
